form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}
.edit {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
